body {
    margin: 0;
    padding: 0;
    background-color: #00008B;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    color: #228B22;
    opacity: 0;
    animation: fade 2s ease-in-out forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}